*.iml
/.idea
/direto_ao_ponto/.gradle
/direto_ao_ponto/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/direto_ao_ponto/build
/direto_ao_ponto/captures
.externalNativeBuild
